* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif, 'Crimson Text',
    'Libre Baskerville',
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: white;
}

/* body {
  cursor: url('images/cursorD.png'), default !important;
} */


.container {
  min-height: 100vh;
  /* background-image: url('https://i1.wp.com/mir-s3-cdn-cf.behance.net/projects/original/08d53492880429.Y3JvcCwxMjMxLDk2MywxMzQsNzY.gif');
  background-repeat: round; */
}