* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, 'Crimson Text', 'Libre Baskerville', Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: white;
}

/* body {
  background-image: url('../images/backgroundb.jpg');
  background-repeat: repeat;
} */

.container {
  min-height: 100vh;
}