.container{
    background-image: url('https://i1.wp.com/mir-s3-cdn-cf.behance.net/projects/original/08d53492880429.Y3JvcCwxMjMxLDk2MywxMzQsNzY.gif');
    background-repeat: round;
    height: calc(100vh - 120px);
    display: flex;
    /* flex-direction: row;
    justify-content: space-around; */
}

