$phone: 600px;
$tablet:768px;
$laptop:992px;
$pc:1200px;
$pcxl:1600px;
$morado:#FF24D5;
$azul:#011F74;

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    border-style: solid;
    border-width: 0.25rem;
    border-image: linear-gradient(45deg, $morado, $azul) 1;


    .images {
        width: 100%;
        min-height: 60%;
        display: flex;
        justify-content: center;
        //border-image: linear-gradient(45deg, rgb(255, 36, 213), rgb(1, 31, 116)) 1;

        img {
            /* border-radius: 1rem 1rem 0 0;
            border: 0 solid transparent; */
            outline: none;
            margin: auto;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
    }

    .info {
        background-color: rgba(0, 0, 0, 0.8);
        min-height: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;



        //transition: 0.5s;
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 30%;
            text-align: center;
        }

        .available {
            min-height: 10%;
            display: flex;
            width: 80%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            .pm {
                display: flex;
                width: 60%;
                flex-direction: column;

                .platforms {
                    display: flex;
                    width: 80%;

                    .icon {
                        svg path {
                            color: $morado;
                        }
                    }
                }

                .metrics {
                    min-width: 20%;
                    display: flex;
                    text-align: center;

                    .green {
                        min-width: 100%;
                        background-color: green;
                    }

                    .greenyellow {
                        min-width: 100%;
                        background-color: greenyellow;
                        color: gray;
                    }

                    .yellow {
                        min-width: 100%;
                        background-color: yellow;
                    }

                    .yellow {
                        min-width: 100%;
                        background-color: orange;
                    }

                    .red {
                        min-width: 100%;
                        background-color: red;
                    }
                }
            }

            .esrb {
                display: flex;
                width: 40%;
                height: 100%;

                img {
                    margin: auto;
                    width: 90%;
                    height: 100%;
                }
            }
        }

        .more {
            min-height: 15%;
            width: 70%;
            border-style: solid;
            border-width: 0.25rem;
            border-image: linear-gradient(45deg, rgb(255, 36, 213), rgb(1, 31, 116)) 1;
            margin: auto;
            border-radius: 0.25rem;
            transition: 0.5s;

            &:hover {
                box-shadow: 0px 0px 15px rgb(255, 36, 213);

            }

            button {
                cursor: pointer;
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
            }

        }
    }

    &:hover {
        box-shadow: 0px 0px 15px rgb(255, 36, 213);

        /* box-shadow: 0px 10px 20px rgb(1, 31, 116); */
        .info {
            //border-width: 5px;
            //border-image: linear-gradient(45deg, rgb(255, 60, 216), rgb(255, 36, 213) )1;
        }
    }

}