$phone: 600px;
$tablet:768px;
$laptop:992px;
$pc:1200px;
$pcxl:1600px;

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    border-style: solid;
    border-width: 0.25rem;
    border-image: linear-gradient(45deg, rgb(255, 36, 213), rgb(1, 31, 116)) 1;


    .images {
        width: 100%;
        min-height: 60%;
        display: flex;
        justify-content: center;
        //border-image: linear-gradient(45deg, rgb(255, 36, 213), rgb(1, 31, 116)) 1;

        img {
            /* border-radius: 1rem 1rem 0 0;
            border: 0 solid transparent; */
            outline: none;
            margin: auto;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
    }

    .info {
        /* background-image: url('https://i.pinimg.com/originals/60/c8/a6/60c8a61a4f0f648a280c7dc8156baec1.gif'); */
        /* background-image: url('https://i.pinimg.com/originals/1b/74/ed/1b74ed53670b66f50f4a0a2d4c59f7f5.gif');
        //background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/628bf030585931.562963fd67f0f.gif');
        background-repeat: round; */
        background-color: rgba(0, 0, 0, 0.8);
        min-height: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        //border-radius: 0 0 1rem 1rem;
        //border: 0 solid transparent;
        //border:0.2rem solid #832561;


        //transition: 0.5s;
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 30%;
        }

        .platforms {
            min-height: 70%;
            display: flex;
            width: 100%;
        }

        .metrics {
            width: 2rem;
            height: 2rem;

            .green {
                background-color: green;
            }

            .greenyellow {
                background-color: greenyellow;
            }

            .yellow {
                background-color: yellow;
            }

            .yellow {
                background-color: orange;
            }

            .red {
                background-color: red;
            }
        }

        .more {
            min-height: 15%;
            width: 70%;
            border-style: solid;
            border-width: 0.25rem;
            border-image: linear-gradient(45deg, rgb(255, 36, 213), rgb(1, 31, 116)) 1;
            margin: auto;
            border-radius: 0.25rem;
            transition: 0.5s;

            &:hover {
                box-shadow: 0px 0px 15px rgb(255, 36, 213);

            }

            button {
                cursor: pointer;
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
            }

        }
    }

    &:hover {
        box-shadow: 0px 0px 15px rgb(255, 36, 213);

        /* box-shadow: 0px 10px 20px rgb(1, 31, 116); */
        .info {
            //border-width: 5px;
            //border-image: linear-gradient(45deg, rgb(255, 60, 216), rgb(255, 36, 213) )1;
        }
    }

}