.container {
    height: 50px;
    display: flex;
    flex-direction: column;

    .footer {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #080f27;

        a {
            img {
                width: 30px;
                height: 30px;
            }
            transition: 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

}