.container {
    width: 15%;
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: column;
    /* background-image: url('https://images1.the-dots.com/641821/ps20.gif?p=projectImageFullJpg');
    background-repeat: repeat-y; */
    background-color: rgba(0,0,0, 0.5);
}