/* body{
    background-image: url('../images/card.jpg');
} */

.containerLP {
    /* min-width: 100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('../../images/backgroundb.jpg');
    background-repeat: round;
    /* justify-content: center;
    align-items: center; */
}
.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    height: 60%;
}
.div-title{
    display: flex;
    justify-content: space-around;
    height: 40%;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #06a3c4 0px 0px 20px, #06a3c4 0px 0px 30px, #06a3c4 0px 0px 40px, #06a3c4 0px 0px 50px, #06a3c4 0px 0px 75px;
}
.btnLP{
    background-color: rgba(43, 197, 159, 0.377);
    font-size: 30px;
    transition: 0.5s;
    padding: 10px 20px;
    text-align: center;
    text-shadow:0 1px 0 rgb(0, 195, 255);
    border-radius: 10px;
}
.btnLP:hover{
    box-shadow: 0px 0px 10px rgb(0, 195, 255);
    background-color: transparent;
}
.containerLP span{
    box-shadow: 0px 0px 10px rgb(0, 195, 255);
    font-size: 60px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(43, 197, 159) 0px 0px 20px, rgb(43, 197, 159) 0px 0px 30px, rgb(43, 197, 159) 0px 0px 40px, rgb(43, 197, 159) 0px 0px 50px, rgb(43, 197, 159) 0px 0px 75px;
}
.div-title h1{
    font-size: 60px;
}