$phone: 600px;
$tablet:768px;
$laptop:992px;
$pc:1200px;
$pcxl:1600px;
$morado:#FF24D5;
$azul:#011F74;
$blue:#080f27;

.container {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 2;

    .menu {
        background: $blue;
        display: flex;
        width: 100%;
        min-height: 100%;
        justify-content: space-between;
        //align-items: center;
        font-weight: bold;
        color: #FFFFFF;
        border: 1 px solid rgb(255, 255, 255);
        box-shadow: 0px 10px 20px rgb(0, 195, 255);

        .logo {
            width: 30%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            margin: auto;

            a {
                display: flex;
                img {
                    margin: auto;
                    width: 10%;
                    height: 10%;

                    @media screen and (max-width: $pc) {
                        width: 20%;
                        height: 20%;
                    }

                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.1)
                    }
                }
            }

        }

        .links {
            width: 70%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            align-items: center;
        }
    }

}


a:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #06a3c4 0px 0px 20px, #06a3c4 0px 0px 30px, #06a3c4 0px 0px 40px, #06a3c4 0px 0px 50px, #06a3c4 0px 0px 75px;
}